
/* code */
.chooseimagesizeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 73.19rem; */
    overflow: hidden;
    text-align: left;
    font-size: 0.94rem;
    color: #000;
    font-family: 'Poppins';
}
.chooseimagesizeContainer div{
    /* border: 2px solid black; */
}
.startText{
    font-size: 3.75rem;
    
}
.creatingText{
    font-size: 4.56rem;
    color: #adadad;
    line-height: 4rem;
}
.ingText{
    color: #000000;
}
.krieitVerbText{
    font-size: 1.56rem;
}
.bringSomethingIntoText{
    font-size: 1.56rem;
    color: #707070;
}
.aiAllRightstext{

}

/* right side */
.imagesizeRightCol{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F0EE;
    background-image: url('../../../../assets/images/image-1@2x.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    object-fit: cover;
    background-size: contain;
    padding-top: 3rem;
    padding-bottom: 8rem;
}
.imagesizeRightbox{
    width: 90%;
    border-radius: 17px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}
.imagesizeRightbox input{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 18px;
    font-size: 1.88rem;
    color: #707070;
    padding: 0.5rem 18.5rem 0.5rem 2rem;
    text-align: left;
    margin: 2rem 0rem;
}
.choseImageSizeText{
    font-size: 1.88rem;
    margin-bottom: 1rem;
}
.image1IconImg{
    height: 13rem;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.image2IconImg{
  max-width: 100%;
  width: 17rem;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.image2Icon2Col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.size1{
    font-weight: 500;
}
.size2{
    font-weight: 500;
}
.startNowbtn{
    background: black;
     color: #fff;
     height: 2rem;
     width: 13rem;
     font-size: 1rem;
     font-weight: 100;
     border: none;
     z-index: 9;
     border-radius: 4px;
     margin: 0 auto;
     margin-top: 2rem;
 }
 @media (max-width: 860px) {
    html{
        font-size: 50%;
    }
  }
  @media (max-width: 767px) {
    .startTextCol{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
    }
  }
  @media (max-width:  396px) {
    .imagesizeRightbox input{
        padding: 0.5rem 5.5rem 0.5rem 2rem;
    }
  }
 
  
