.logo{
    height: 4rem;
}
.inverted {
  filter: invert(1);
}
.whiteLink {
  color: white;
}
.mynav{
    /* display: flex;
    flex-direction: row;
    gap: 1rem; */
}
.mynav a{
   display: inline;
    color: #8c8c8c;
    /* color: #000; */
    font-family:'Poppins';
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
}
.customTogglerIcon {
    background-image: url('../../assets/images/path-9.svg');
    width: 3rem;
    background-repeat: no-repeat;
    height: 2rem;
    border: none;
    border-radius: 0px;
    background-size: 2rem;
    background-position: center;
  }
  .headerRight{
    display: flex;
    position: relative;
    gap: 0.7rem;
    align-items: center;
  }
  .groupChild{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
  .groupItem{
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    bottom: 1.5rem;
    left: 1rem;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
  }
  .count{
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    left: 1.4rem;
    position: absolute;
    bottom: 1.1rem;
    cursor: pointer;
}
.navBackground{
    background: none !important;
}
