

/* code */
.chooseimagesizeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 73.19rem; */
  overflow: hidden;
  text-align: left;
  font-size: 0.94rem; 
  color: #000;
  font-family: 'Poppins';
overflow: hidden;
position: relative;
/* margin-top: -7rem; */
}

.startText{
  font-size: 3.75rem;
  
}
.creatingText{
  font-size: 4.56rem;
  color: #adadad;
  line-height: 4rem;
}
.ingText{
  color: #000000;
}
.krieitVerbText{
  font-size: 1.56rem;
}
.bringSomethingIntoText{
  font-size: 1.56rem;
  color: #707070;
}
.aiAllRightstext{
position: absolute;
bottom: 0;
}

/* right side */
.imagesizeRightCol{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #F1F0EE; */
  background-image: url('../../../../assets/images/create-shawdownew.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  object-fit: cover;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 5rem;
  flex-direction: column;
}

.imagesizeRightbox{
  width: 57%;
  border-radius: 17px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 3rem 3rem;
}


.startTextCol{
  padding: 0rem 3rem;
}

.glleryrow div:nth-child(1) , .glleryrow div:nth-child(1){
  padding-bottom: 1rem;
}
.selectYourFavouriteText{
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  
}
.selectYourFavouriteText{
  display: flex;
  align-items: center;
}
.selectYourFavouriteText span{
  padding: 0rem 1rem;
}
.createNew{
 font-weight: 500;
 font-size: 1.44rem;
 font-size: 1.44rem;
 padding: 0.63rem;
 background-color: #242424;
 color: #fff;
 text-decoration: none;
}
.createNew:hover{
 color: #eccb9c;
}
.reload{
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0rem 0.5rem;
}


@media (max-width: 880px) {
  html{
      font-size: 50%;
  }
  .selectYourFavouriteText{
    flex-direction: column;
  }
  .reload{
    padding: 0.6rem 0.5rem;
  }
}

@media (max-width: 860px) {
  html{
      font-size: 50%;
  }
  .reload{
    padding: 0.6rem 0.5rem;
  }
}

@media (max-width: 767px) {
  .startTextCol{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 1rem;
  }
  .aiAllRightstext{
      display: none;
    }
}
@media (max-width: 1001px) {

  .selectYourFavouriteText span{
    padding: 0 4rem;
  }
  .reload{
    padding: 0.6rem 0.5rem;
  }
}
@media (min-width: 1024px) {
  /* CSS styles to apply when screen size is greater than 1024px */
  html{
    font-size: 80%;
  }
}





