*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.App{
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.active{
    color: #000000 !important;
    position: relative;
}
.active:before {
    content: "*";
    color: black;
    position: absolute;
    bottom: -1rem;
    /* left: 1.5rem; */
    left: 50%;
   transform: translateX(-50%);
  }
  .navbar-toggler-icon{
    display: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .a:hover{
    color: #eecea5 !important;
  }
  