@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  line-height: normal;
  font-size: 16px;
  font-family: 'Poppins';
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
  --font-inherit: inherit;

  /* font sizes */
  /* --font-size-5xl: 24px;
  --font-size-26xl: 45px;
  --font-size-47xl: 66px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-2xl: 21px;
  --font-size-11xl: 30px;
  --font-size-51xl: 70px; */

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #adadad;
  --color-gray-100: #8c8c8c;
  --color-gray-200: #020202;
  --color-gray: #8c8c8c;

  /* Paddings */
  --padding-9xl: 28px;

  /* border radiuses */
  --br-9xs: 4px;
  --br-mid: 17px;

  


  
}

